* {
    font: "JetBrainsMono Nerd Font 12";
}

window {
    width: 350px;

    transparency: "real";

    background-color: rgba(16, 20, 24, 0.78);

    border: 1px;
    border-color: rgba(154, 203, 250, 0.55);

    border-radius: 16px;

    padding: 10px;

    location: north;
    y-offset: 42px;
}

mainbox {
    background-color: transparent;

    children: [
        inputbar
    ];
}

inputbar {
    background-color: rgba(28, 32, 36, 0.78);

    border: 1px;
    border-color: rgba(140, 145, 152, 0.25);

    border-radius: 10px;

    padding: 9px 10px;

    children: [
        prompt,
        entry
    ];
}

prompt {
    text-color: #9acbfa;

    padding: 0px 7px 0px 1px;
}

entry {
    background-color: transparent;

    text-color: #e0e2e8;

    placeholder: "Wi-Fi password...";
    placeholder-color: #777b86;
}
